/*Padding for code blocks*/
.md-typeset pre {
  padding: 10px 10px 5px 5px;
}

/*Portrait images*/
img[src*="#portrait"] {
   width:25%;
   height:25%;
   padding-right: 10px;
   padding-bottom: 10px;
   float: left;
}

.md-typeset .input {
  color: white;
  background-color: #D400D4;
}

.md-typeset .basic {
  color: white;
  background-color: #2191FD;
}

.md-typeset .math {
  color: white;
  background-color: #9401D3;
}

.md-typeset .loops {
  color: white;
  background-color: #17AA00;
}

.md-typeset .variables {
  color: white;
  background-color: #DC163C;
}

.md-typeset .control {
  color: white;
  background-color: #333333;
}

.md-typeset .logic {
  color: white;
  background-color: #00a4a6;
}